<style>
    #title {font-family: 'Times New Roman', Times, serif;} 
    
    img{ background-color: grey;}
    #main {
       background-color: red;
    }
    p{ font-size: 35px;
    }
.quote {
    font-size: 40px;
    color: rgb(51, 51, 126);
}
#tribute-link {
           font-size: 30px;
}
#tribute-info {
           font-size: 25px;}
footer{
   font-size: 25px;}</style>